<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
    {{>header}}
    <p>project page text would here.</p>

    {{> footer}}

</body>
</html>